# Configurações do Sistema TSE
API_TSE_URL=http://10.100.3.24:4003
API_TSE_USERNAME=Sergio
API_TSE_PASSWORD=Sergio@2603

# Configurações do Banco de Dados
SPRING_DATASOURCE_URL=jdbc:postgresql://10.100.3.35:5435/tsehotbeachtreino
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=We8qo?YHtB7b1zG?#K

# Configurações da Aplicação
SPRING_APPLICATION_NAME=SW_TSE_Communication
SERVER_PORT=8082
DATABASE_ENABLED=true

# Relatórios Customizados
API_TSE_RELATORIOS_CIDADE=203
API_TSE_RELATORIOS_TIPODOCUMENTOPESSOA=205
API_TSE_RELATORIOS_OPERADORCLIENTE=206

# Valores Padrão Cadastro
SW_TSE_CADASTRO_PESSOA_TIPOENDERECO=1
SW_TSE_CADASTRO_PESSOA_TIPOLOGRADOURO=41
SW_TSE_CADASTRO_PESSOA_TIPOTELEFONE=CELULAR
SW_TSE_CADASTRO_OPERADOR=44
